<h1>The best Forecast</h1>
<form action="/show" method="post" style="width: 40%; margin: 0 auto;" id="forecastForm">
  <label for="city" style="margin-top: 10px;">City</label>
  <input type="text" class="form-control" name="city" placeholder="City">
  <button type="submit" class="btn btn-primary" style="margin-top: 20px;">Get Forecast</button>
</form>
<div class="forecast-container">
</div>

<form action="users/subscribe" action="post">
  
</form>
