<form action="/users/login" method="post" style="width: 40%; margin: 0 auto;" id="regForm">
  <label for="username" style="margin-top: 10px;">Login</label>
  <input type="text" class="form-control" name="username" placeholder="Login">

  <label for="password" style="margin-top: 10px;">Password</label>
  <div class="mistake" style="color: red"></div>
  <input type="password" class="form-control" name="password" placeholder="Password">
  <button type="submit" class="btn btn-primary" style="margin-top: 20px;">Submit</button>
</form>
